<style>
    .jumbotron{
        background-image:url('/images/main.jpg') ;
    }
</style>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><%= link_to 'Home' %></li>
  <li><%= link_to 'New SMS',:controller => "sms",:action => "new"%></li>
</ul>

<div class="jumbotron">
  <% if user_signed_in? %>
      <h1 align="center">Welcome To Pineapple</h1>
      <p class="lead" align="center">
          we are going to show the new world!!!
      </p>
  <% else %>
      <h1>Welcome, new user!</h1>
      <p class="lead">
        You must sign in or sign up before you can access our super sweet,
        top secret content.
      </p>
      <div class="row-fluid">
        <div class="span6">
          <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
        </div>
        <div class="span6">
          <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
        </div>
      </div>
  <% end %>
</div>
