<style>
    .jumbotron{
        background-image:url('/images/index.jpg') ;
    }
</style>
<div class="border-form-div jumbotron" xmlns="http://www.w3.org/1999/html">
  <h2 class="icon-off"> Sign In</h2>
  </br>
  </br>
  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
      <h2 class="icon-large icon-envelope"></h2> <span></span><%= f.email_field :email, :autofocus => true,:placeholder => 'Email address' %>
      </br>
      <h2 class="icon-large icon-unlock"></h2> <span></span><%= f.password_field :password,:placeholder => 'Password' %>
      </br>
      <%= f.submit "Sign in",:class=>'btn btn-primary' %>
  <% end %>
</div>

